name: CI (caching)

on:
  push:
    branches: [ master ]
  pull_request:

permissions:
  contents: read

jobs:
  rpm:
    name: Build rpm with mock-rpm action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build rpm
        uses: ./
        with:
          chroot: fedora-39-x86_64
          spec: test/simple/simple.spec
          cache: true
      - uses: actions/upload-artifact@v3
        with:
          name: rpm-artifacts
          path: |
            *.x86_64.rpm

  it:
    needs: [ rpm ]
    name: Integration test rpm
    runs-on: ubuntu-latest
    container: fedora:39
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: rpm-artifacts
      - run: dnf install -y simple-*.rpm
      - name: Test
        run: simple
